---
import { SITE_TITLE } from "../consts";
---

<section class="content">
    <div class="content-items">
        <h1>Forums Quick Jump</h1>
        <div class="forums">
            <select name="forum" id="forum">
                <option value="">India Forums</option>
            </select>
            <select name="forum" id="forum">
                <option value="">India Forums</option>
            </select>
            <input type="submit" value="Go" class="forum-btn" />
        </div>
    </div>
</section>

<section class="table">
    <div class="content-items">
        <h1>Global Announcement</h1>
        <table>
            <tr>
                <th>
                    <img
                        src="images/page.svg"
                        alt=""
                        srcset=""
                        width="47"
                        height="50"
                    />
                    <br /> Topic</th
                >
                <th
                    ><img
                        src="images/pencil.png"
                        alt=""
                        srcset=""
                        width="47"
                        height="50"
                    />
                    <br />Author</th
                >
                <th
                    ><img
                        src="images/chat.png"
                        alt=""
                        srcset=""
                        width="47"
                        height="50"
                    />
                    <br />Replies</th
                >
                <th
                    ><img
                        src="images/eye.svg"
                        alt=""
                        srcset=""
                        width="47"
                        height="50"
                    />
                    <br />Views</th
                >
                <th
                    ><img
                        src="images/time.png"
                        alt=""
                        srcset=""
                        width="47"
                        height="50"
                    />
                    <br />Last Post</th
                >
            </tr>
            <tr>
                <td
                    ><img
                        src="images/lock.png"
                        alt=""
                        srcset=""
                        width="20"
                        height="20"
                        class="icon-img"
                    />
                    The Triwizard Sheeple Tournament Th2 (Round 1 Details pg 52)</td
                >
                <td>Minionite</td>
                <td>718</td>
                <td>8024</td>
                <td
                    ><img
                        src="images/time.png"
                        alt=""
                        srcset=""
                        width="15"
                        height="15"
                    />29 minutes ago<br /> oye_nakhrewali</td
                >
            </tr>
            <tr>
                <td
                    ><img
                        src="images/warning.png"
                        alt=""
                        srcset=""
                        width="20"
                        height="20"
                        class="icon-img"
                    />
                    The Triwizard Sheeple Tournament Th2 (Round 1 Details pg 52)
                    <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2 3 4
                    5 6 7 8
                </td>
                <td>Minionite</td>
                <td>718</td>
                <td>8024</td>
                <td> 29 minutes ago<br /> oye_nakhrewali</td>
            </tr>
            <tr>
                <td
                    ><img
                        src="images/mail.png"
                        alt=""
                        srcset=""
                        width="20"
                        height="20"
                        class="icon-img"
                    />
                    The Triwizard Sheeple Tournament Th2 (Round 1 Details pg 52)</td
                >
                <td>Minionite</td>
                <td>718</td>
                <td>8024</td>
                <td>29 minutes ago<br /> oye_nakhrewali</td>
            </tr>
        </table>
    </div>
</section>

<section class="btm-features">
    <div class="content-items">
        <h1>Featured Forums</h1>
        <div class="featured-grid">
            <a href="#">Rules & Announcement</a>
            <a href="#">Suggestions / Comments</a>
            <a href="#">Bollywood Forum</a>
            <a href="#">Hollywood Forum</a>
            <a href="#">Sensational South</a>
            <a href="#">Members Lounge</a>
            <a href="#">Debate Mansion</a>
            <a href="#">Fan Fictions</a>
            <a href="#">Rules & Announcement</a>
            <a href="#">Suggestions / Comments</a>
            <a href="#">Bollywood Forum</a>
            <a href="#">Hollywood Forum</a>
            <a href="#">Sensational South</a>
            <a href="#">Members Lounge</a>
            <a href="#">Debate Mansion</a>
            <a href="#">Fan Fictions</a>
        </div>
    </div>
</section>

<section class="content">
    <div class="content-items">
        <h1>Popular Shows</h1>
        <p>Prev Next</p>
        <div class="cards">
            <div class="scroll--cards">
                <img src="images/star-plus.jpg" alt="" srcset="" />
                <div class="show-list">
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/up.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        /> 1</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/down-arrow.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />2</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/arrow.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />3</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/up.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />4</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/up.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />5</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/up.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />6</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/up.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />7</a
                    >
                </div>
            </div>

            <div class="scroll--cards">
                <img src="images/zee-tv.jpg" alt="" srcset="" />
                <div class="show-list">
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai<img
                            src="images/up.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />1</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/down-arrow.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />2</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/arrow.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />3</a
                    >
                </div>
            </div>

            <div class="scroll--cards">
                <img src="images/colors.jpg" alt="" srcset="" />
                <div class="show-list">
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/up.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        /> 1</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/down-arrow.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />2</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/arrow.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />3</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/up.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />4</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/up.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />5</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/up.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />6</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/up.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />7</a
                    >
                </div>
            </div>

            <div class="scroll--cards">
                <img src="images/sony-tv.jpg" alt="" srcset="" />
                <div class="show-list">
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/up.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        /> 1</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/down-arrow.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />2</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/arrow.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />3</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/up.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />4</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/up.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />5</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/up.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />6</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/up.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />7</a
                    >
                </div>
            </div>

            <div class="scroll--cards">
                <img src="images/star-plus.jpg" alt="" srcset="" />
                <div class="show-list">
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/up.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        /> 1</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/down-arrow.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />2</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/arrow.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />3</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/up.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />4</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/up.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />5</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/up.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />6</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/up.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />7</a
                    >
                </div>
            </div>
        </div>
    </div>
</section>
