---
import { SITE_TITLE } from "../consts";
---

<section class="featured">
    <div class="article-list">
        <a href="#" class="article-item article-item--exclusive">
            <img
                src="/images/arjun.jpg"
                alt=""
                srcset=""
                class="article-item__img img1"
            />
            <div class="article-item__content">
                <p class="article-item__title">
                    <span class="breaking">Breaking</span> Arjun Kapoor and John
                    Abraham's hindi remake of Ayyappanum Koshiyam put on hold
                </p>
            </div>
        </a>
        <a href="#" class="article-item article-item--exclusive">
            <img
                src="/images/ramayan.jpg"
                alt=""
                srcset=""
                class="article-item__img"
            />
            <div class="article-item__content">
                <p class="article-item__title">
                    <span class="exclusive">Exclusive</span>Ramayan actor Sunil
                    Lahri wishes son Krish Pathak for his TV show
                </p>
            </div>
        </a>
        <a href="#" class="article-item article-item--exclusive">
            <img
                src="/images/janvi.jpg"
                alt=""
                srcset=""
                class="article-item__img"
            />
            <div class="article-item__content">
                <p class="article-item__title">
                    Janhvi Kapoor sizzles all the way in a shell-inspired
                    ensemble; shares BTS video
                </p>
            </div>
        </a>
        <a href="#" class="article-item article-item--exclusive">
            <img
                src="/images/ksf.jpg"
                alt=""
                srcset=""
                class="article-item__img"
            />
            <div class="article-item__content">
                <p class="article-item__title">
                    Review: 'The Kashmir Files' offers a harrowing yet essential
                    look into the plight of Kashmiri Pandits
                </p>
            </div>
        </a>
        <a href="#" class="article-item article-item--exclusive">
            <img
                src="/images/akshay.jpg"
                alt=""
                srcset=""
                class="article-item__img"
            />
            <div class="article-item__content">
                <p class="article-item__title">
                    Akshay Kumar reveals the true story behind the title of his
                    upcoming film 'Bachchhan Paandey'
                </p>
            </div>
        </a>
    </div>
</section>
