---
const today = new Date();
---

<footer class="footer">
	<div class="spacing--footer">
		<div class="footer">
			<div class="footer--logo">
				<a href="/"><img src="images/logo.png" /></a>
			</div>
			<div class="footer--quick">
				<p>Quick Links</p>
				<span class="flex-flow">
					<a href="#">About Us</a>
					<a href="#">Advertise</a>
					<a href="#">Contact Us</a>
					<a href="#">Help Center</a>
					<a href="#">Terms of Service</a>
					<a href="#">Privacy Policy</a>
				</span>
			</div>
			<div class="footer--popular">
				<p>Popular Channels</p>
				<div class="flex-flow">
					<a href="#">Star Plus</a>
					<a href="#">Zee Tv</a>
					<a href="#">Colors</a>
					<a href="#">Sony Tv</a>
					<a href="#">Sab Tv</a>
				</div>
			</div>
			<div class="footer--social">
				<p>Follow us on</p>
				<div class="footer-icons">
					<a href="#"
						><img
							src="images/facebook.svg"
							height="35px"
							width="35px"
							class="ft-icon"
							alt=""
							srcset=""
						/></a
					>
					<a href="#"
						><img
							src="images/insta.svg"
							height="35px"
							width="35px"
							class="ft-icon"
							alt=""
							srcset=""
						/></a
					>
					<a href="#"
						><img
							src="images/tweet.svg"
							height="35px"
							width="35px"
							class="ft-icon"
							alt=""
							srcset=""
						/></a
					>
					<a href="#"
						><img
							src="images/link.svg"
							height="35px"
							width="35px"
							class="ft-icon"
							alt=""
							srcset=""
						/></a
					>
					<a href="#"
						><img
							src="images/youtube.svg"
							height="35px"
							width="35px"
							class="ft-icon"
							alt=""
							srcset=""
						/></a
					>
				</div>
			</div>
		</div>
		<p class="footer--disclaimer">
			<strong>Disclaimer:</strong> All Logos and Pictures of various Channels,
			Shows, Artistes, Media Houses, Companies, Brands etc. belong to their
			respective owners, and are used to merely visually identify the Channels,
			Shows, Companies, Brands, etc. to the viewer. Incase of any issue please
			contact the webmaster.
		</p>
	</div>
</footer>
